In [1]:
import ee, h5py, warnings
import numpy as np
import pandas as pd

warnings.filterwarnings('ignore')

###
# ------- Set up local proxy to access GEE, may not required for all people ------- #
###
    
import socket
import socks

socks.set_default_proxy(socks.SOCKS5, "127.0.0.1", 10795)
socket.socket = socks.socksocket

In [2]:
def ee_array_to_df(arr, list_of_bands):

    # Transforms client-side ee.Image.getRegion array to pandas.DataFrame
    df = pd.DataFrame(arr)

    # Rearrange the header.
    headers = df.iloc[0]
    df = pd.DataFrame(df.values[1:], columns=headers)

    # Remove rows without data inside.
    df = df[['longitude', 'latitude', 'time', *list_of_bands]].dropna()

    # Convert the data to numeric values.
    for band in list_of_bands:
        df[band] = pd.to_numeric(df[band], errors='coerce')

    # Convert the time field into a datetime.
    df['datetime'] = pd.to_datetime(df['time'], unit='ms')

    # Keep the columns of interest.
    df = df[['datetime',  *list_of_bands]]

    return df

def format_forz(era5df):

    tidy_df = era5df.copy()

    # Silence copy warning
    pd.set_option('mode.chained_assignment', None)

    tidy_df['TMN'] = tidy_df['minimum_2m_air_temperature'] - 273.15
    tidy_df['TMX'] = tidy_df['maximum_2m_air_temperature'] - 273.15

    # Shortwave
    # To W
    tidy_df['RSDS'] = \
        tidy_df['surface_solar_radiation_downwards_sum']/3600/24
    # Remove negative noise
    tidy_df['RSDS'][tidy_df['RSDS'] < 0] = 0
    
    # RH
    TD = tidy_df['dewpoint_2m_temperature'] - 273.15
    T = tidy_df['mean_2m_air_temperature'] - 273.15
    tidy_df['RH'] = 100 * (np.exp((17.67 * TD) / (243.5 + TD)) /
                           np.exp((17.67 * T) / (243.5 + T)))
    # Force bounds
    tidy_df['RH'][tidy_df['RH'] > 100] = 100
    tidy_df['RH'][tidy_df['RH'] < 0] = 0

    e_VPa = 611.2 * np.exp((17.67 * TD) / (243.5 + TD))
    tidy_df['SH'] = 0.622 * e_VPa / (tidy_df['surface_pressure']*0.01 - 0.378 * e_VPa)

    tidy_df['TD'] = tidy_df['dewpoint_2m_temperature'] - 273.15

    tidy_df['VPA'] = e_VPa * 0.1

    # Wind
    U = tidy_df['u_component_of_wind_10m']
    V = tidy_df['v_component_of_wind_10m']
    tidy_df['WSPD'] = np.sqrt(U**2 + V**2)

    # Precipitation [m/day > mm/day]
    tidy_df['PRECC'] = \
        tidy_df['total_precipitation']*1000
    tidy_df['PRECC'][tidy_df['PRECC'] < 0] = 0

    tidy_df['Year'] = tidy_df.index.year
    tidy_df['Day'] = tidy_df.index.day_of_year
    tidy_df['Hour'] = 9
        
    # remove old columns
    del tidy_df['surface_solar_radiation_downwards_sum']
    del tidy_df['surface_thermal_radiation_downwards_sum']
    del tidy_df['dewpoint_2m_temperature']
    del tidy_df['u_component_of_wind_10m']
    del tidy_df['v_component_of_wind_10m']
    del tidy_df['total_precipitation']
    del tidy_df['surface_pressure']
    del tidy_df['minimum_2m_air_temperature']
    del tidy_df['maximum_2m_air_temperature']
    del tidy_df['mean_2m_air_temperature']

    return tidy_df[['Year','Day','Hour','TMX','TMN','RSDS','WSPD','RH','PRECC']]

In [3]:
year_list = np.arange(1984, 1985)

sitename = 'Ebo'

site_lat = {'Altay':47.733, 'Kabahe':47.883, 'Fuyun':47.200, 'Ebo': 38.00, 
            'Barrow':71.309033, 'DrewPoint':70.904, 'Yakutsk':62.02, 
            'Wudaoliang':35.218, 'PT8':38.67, 'PT1': 38.7822,
            'Fairbanks':64.80, 'OldMan': 66.45, 'HappyValley':69.1466}
site_lon = {'Altay':88.083, 'Kabahe':86.200, 'Fuyun':89.783, 'Ebo': 100.92, 
            'Barrow':-156.661517, 'DrewPoint':-153.634, 'Yakutsk': 129.72, 
            'Wudaoliang':93.0833, 'PT8': 98.96, 'PT1':98.7452,
            'Fairbanks':-147.77, 'OldMan': -150.6167, 'HappyValley':-148.85}
            
var_list = ['minimum_2m_air_temperature',
            'maximum_2m_air_temperature',
            'mean_2m_air_temperature',
            'total_precipitation', 
            # 'surface_solar_radiation_downwards_sum', 
            # 'surface_thermal_radiation_downwards_sum', 
            'dewpoint_2m_temperature', 
            'surface_pressure',
            'u_component_of_wind_10m',
            'v_component_of_wind_10m']

var_list_land = ['surface_solar_radiation_downwards_sum', 
            'surface_thermal_radiation_downwards_sum', ]

# forcing name
# h5_name = sitename+'_'+str(year_list.min())+'-'+str(year_list.max())+".h5"

# print('Producing...', h5_name)

# Define the locations of interest in degrees.
era_lon = site_lon[sitename]
era_lat = site_lat[sitename]

print('lat:',era_lat, 'lon:', era_lon)

lat: 38.0 lon: 100.92

In [4]:
# Initialize the library.
ee.Initialize()

# Import the ERA5_LAND collection.
era5 = ee.ImageCollection("ECMWF/ERA5/DAILY")
# Import the ERA5_LAND collection.
era5_land = ee.ImageCollection("ECMWF/ERA5_LAND/DAILY_RAW")

era_poi = ee.Geometry.Point([era_lon, era_lat])

# era5_df = pd.DataFrame(columns=var_list)

In [5]:
for i0, year0 in enumerate(year_list):

	# Initial date of interest (inclusive).
	i_date = str(year0)+"-01-01"

	# Final date of interest (exclusive).
	f_date = str(year0+1)+"-01-01"

	geeid1 = era5.select(var_list).filterDate(i_date, f_date)
	geeid2 = era5_land.select(var_list_land).filterDate(i_date, f_date)

	era5_data = geeid1.getRegion(era_poi, 1000).getInfo()

	era5_land_data = geeid2.getRegion(era_poi, 1000).getInfo()

	# print(len(era5_data))

	era5_land_dftmp = ee_array_to_df(era5_land_data, var_list_land).set_index('datetime')

	era5_dftmp = ee_array_to_df(era5_data, var_list).set_index('datetime').join(era5_land_dftmp)

	# if i0 == 0:
	# 	era5_df = era5_dftmp.copy()
	# else:
	# 	era5_df = pd.concat([era5_df, era5_dftmp], ignore_index=False)

	# era5_dftmp.set_index('datetime')
	
# 	era5_df = era5_df.append(era5_dftmp, ignore_index=True)

	# era5_df = pd.concat([era5_df, era5_dftmp], ignore_index=False)

	# # print(era5_df)
	
	era5_df_forz = format_forz(era5_dftmp)
	
	print(i0, year0, era5_df_forz, sum(era5_df_forz.PRECC.values))

0 1984 0           Year  Day  Hour        TMX        TMN        RSDS      WSPD  \
datetime
1984-01-01  1984    1     9  -4.823676 -22.599814  132.138889  0.673588
1984-01-02  1984    2     9  -7.316351 -22.422766  132.434769  1.103308
1984-01-03  1984    3     9  -7.081915 -23.299719  114.086296  1.470893
1984-01-04  1984    4     9  -5.335577 -22.892218  133.065463  0.704954
1984-01-05  1984    5     9  -5.342749 -22.331183  135.647593  0.736357
...          ...  ...   ...        ...        ...         ...       ...
1984-12-27  1984  362     9 -13.638892 -24.701727  109.806898  0.187674
1984-12-28  1984  363     9 -12.856207 -24.484915  126.148380  0.540662
1984-12-29  1984  364     9  -8.804419 -22.977408  130.362407  0.790101
1984-12-30  1984  365     9  -6.590277 -22.044684  128.845463  1.643694
1984-12-31  1984  366     9  -2.835730 -21.116812  125.455648  0.809766

0                  RH     PRECC
datetime
1984-01-01  40.886409  0.000000
1984-01-02  39.159426  0.000628
1984-01-03  44.882711  0.016088
1984-01-04  42.462668  0.000000
1984-01-05  38.157244  0.000000
...               ...       ...
1984-12-27  58.691724  0.020385
1984-12-28  57.540085  0.001125
1984-12-29  43.598958  0.000000
1984-12-30  37.362053  0.000002
1984-12-31  34.511636  0.000045

[366 rows x 9 columns] 644.1112076863647

In [6]:
era5_df_forz

,Year,Day,Hour,TMX,TMN,RSDS,WSPD,RH,PRECC
datetime,,,,,,,,,
1984-01-01,1984,1,9,-4.823676,-22.599814,132.138889,0.673588,40.886409,0.000000
1984-01-02,1984,2,9,-7.316351,-22.422766,132.434769,1.103308,39.159426,0.000628
1984-01-03,1984,3,9,-7.081915,-23.299719,114.086296,1.470893,44.882711,0.016088
1984-01-04,1984,4,9,-5.335577,-22.892218,133.065463,0.704954,42.462668,0.000000
1984-01-05,1984,5,9,-5.342749,-22.331183,135.647593,0.736357,38.157244,0.000000
...,...,...,...,...,...,...,...,...,...
1984-12-27,1984,362,9,-13.638892,-24.701727,109.806898,0.187674,58.691724,0.020385
1984-12-28,1984,363,9,-12.856207,-24.484915,126.148380,0.540662,57.540085,0.001125
1984-12-29,1984,364,9,-8.804419,-22.977408,130.362407,0.790101,43.598958,0.000000
1984-12-30,1984,365,9,-6.590277,-22.044684,128.845463,1.643694,37.362053,0.000002
1984-12-31,1984,366,9,-2.835730,-21.116812,125.455648,0.809766,34.511636,0.000045

In [7]:
fid = open('../examples/test_daily/clmt_spinup.txt', 'wt')
fid.write('DJ0306XDHMNRWHP'+'\n')
fid.write('CCWSRM'+'\n')
fid.write('{:0.2f},{:0.2f},{:0.2f}'.format(10,1,13)+'\n')
fid.write('{:0.2f},{:0.2f},{:0.2f},{:0.2f},{:0.2f},{:0.2f},{:0.2f},{:0.2f},{:0.2f},{:0.2f},{:0.2f},{:0.2f},{:0.2f}'.format(7,0,0,0,0,0,0,0,0,0,0,0,0)+'\n')
for i in era5_df_forz.index:
    fid.write('{:0.1f},{:0.1f},{:0.1f},{:0.2f},{:0.2f},{:0.2f},{:0.2f},{:0.2f},{:0.8f}'.format(era5_df_forz['Year'][i],
                                       era5_df_forz['Day'][i],
                                       era5_df_forz['Hour'][i],
                                       era5_df_forz['TMX'][i],
                                       era5_df_forz['TMN'][i],
                                       era5_df_forz['RSDS'][i],
                                       era5_df_forz['WSPD'][i] * 0 + 1.75,
                                       era5_df_forz['RH'][i] * 0 + 85,
                                       era5_df_forz['PRECC'][i]) + '\n')
fid.close()

In [8]:
year_list = np.arange(1979, 2015)

In [9]:
for i0, year0 in enumerate(year_list):

	# Initial date of interest (inclusive).
	i_date = str(year0)+"-01-01"

	# Final date of interest (exclusive).
	f_date = str(year0+1)+"-01-01"

	geeid1 = era5.select(var_list).filterDate(i_date, f_date)
	geeid2 = era5_land.select(var_list_land).filterDate(i_date, f_date)

	era5_data = geeid1.getRegion(era_poi, 1000).getInfo()

	era5_land_data = geeid2.getRegion(era_poi, 1000).getInfo()

	# print(len(era5_data))

	era5_land_dftmp = ee_array_to_df(era5_land_data, var_list_land).set_index('datetime')

	era5_dftmp = ee_array_to_df(era5_data, var_list).set_index('datetime').join(era5_land_dftmp)

	# if i0 == 0:
	# 	era5_df = era5_dftmp.copy()
	# else:
	# 	era5_df = pd.concat([era5_df, era5_dftmp], ignore_index=False)

	# era5_dftmp.set_index('datetime')
	
# 	era5_df = era5_df.append(era5_dftmp, ignore_index=True)

	# era5_df = pd.concat([era5_df, era5_dftmp], ignore_index=False)

	# # print(era5_df)
	
	era5_df_forz = format_forz(era5_dftmp)
	
	print(i0, year0, era5_df_forz, sum(era5_df_forz.PRECC.values))


	fid = open('../examples/test_daily/clmt_'+str(year0)+'.txt', 'wt')
	fid.write('DJ0306XDHMNRWHP'+'\n')
	fid.write('CCWSRM'+'\n')
	fid.write('{:0.2f},{:0.2f},{:0.2f}'.format(10,1,13)+'\n')
	fid.write('{:0.2f},{:0.2f},{:0.2f},{:0.2f},{:0.2f},{:0.2f},{:0.2f},{:0.2f},{:0.2f},{:0.2f},{:0.2f},{:0.2f},{:0.2f}'.format(7,0,0,0,0,0,0,0,0,0,0,0,0)+'\n')
	for i in era5_df_forz.index:
		fid.write('{:0.1f},{:0.1f},{:0.1f},{:0.2f},{:0.2f},{:0.2f},{:0.2f},{:0.2f},{:0.8f}'.format(era5_df_forz['Year'][i],
										era5_df_forz['Day'][i],
										era5_df_forz['Hour'][i],
										era5_df_forz['TMX'][i],
										era5_df_forz['TMN'][i],
										era5_df_forz['RSDS'][i],
										era5_df_forz['WSPD'][i] * 0 + 1.75,
										era5_df_forz['RH'][i] * 0 + 85,
										era5_df_forz['PRECC'][i]) + '\n')
	fid.close()

0 1979 0           Year  Day  Hour       TMX        TMN        RSDS      WSPD  \
datetime
1979-01-02  1979    2     9 -0.984106 -20.180243  134.169583  1.295374
1979-01-03  1979    3     9 -2.776312 -19.611578  133.974120  0.695303
1979-01-04  1979    4     9 -3.284827 -20.975226  134.443889  1.237428
1979-01-05  1979    5     9 -3.512640 -21.146872  135.742546  1.160850
1979-01-06  1979    6     9 -1.497626 -17.961417  137.862407  4.097727
...          ...  ...   ...       ...        ...         ...       ...
1979-12-27  1979  361     9 -8.266241 -24.275565  130.187917  1.180757
1979-12-28  1979  362     9 -3.599554 -22.899512  130.353750  1.473280
1979-12-29  1979  363     9 -5.023474 -21.099722  123.812593  0.604046
1979-12-30  1979  364     9 -5.826178 -20.867361  130.016944  0.652530
1979-12-31  1979  365     9 -3.671820 -19.479819  125.072222  1.021525

0                  RH     PRECC
datetime
1979-01-02  40.188812  0.000000
1979-01-03  46.132335  0.000000
1979-01-04  42.272050  0.000000
1979-01-05  40.197340  0.072689
1979-01-06  34.781137  0.000000
...               ...       ...
1979-12-27  51.418370  0.000000
1979-12-28  42.566831  0.002652
1979-12-29  51.208391  0.040134
1979-12-30  51.412247  0.000000
1979-12-31  39.057039  0.007689

[364 rows x 9 columns] 651.8469722941518
1 1980 0           Year  Day  Hour        TMX        TMN        RSDS      WSPD  \
datetime
1980-01-01  1980    1     9  -7.691656 -18.196570  128.617361  0.479897
1980-01-02  1980    2     9 -12.631964 -22.219199   98.960880  0.674157
1980-01-03  1980    3     9 -15.105353 -28.785880  102.399306  0.231076
1980-01-04  1980    4     9  -9.667822 -28.181555  137.605324  1.503859
1980-01-05  1980    5     9 -14.276648 -28.442969  110.585602  0.948685
...          ...  ...   ...        ...        ...         ...       ...
1980-12-27  1980  362     9  -3.864355 -22.546606  131.225833  0.783125
1980-12-28  1980  363     9  -6.709357 -22.236777  128.611806  0.544723
1980-12-29  1980  364     9  -3.141028 -22.421072  134.433426  1.102993
1980-12-30  1980  365     9  -4.309271 -21.716589  131.726620  1.076779
1980-12-31  1980  366     9  -6.624548 -22.494818  132.041620  0.589730

0                  RH     PRECC
datetime
1980-01-01  60.603182  0.687141
1980-01-02  78.612577  0.534674
1980-01-03  70.321520  0.921816
1980-01-04  44.679197  0.000000
1980-01-05  66.746661  1.560834
...               ...       ...
1980-12-27  43.933131  0.000000
1980-12-28  49.144517  0.031313
1980-12-29  29.105420  0.000000
1980-12-30  35.090133  0.000000
1980-12-31  42.688015  0.000000

[366 rows x 9 columns] 664.9846425279975
2 1981 0           Year  Day  Hour        TMX        TMN        RSDS      WSPD  \
datetime
1981-01-01  1981    1     9  -4.856146 -22.170111  132.723935  0.821906
1981-01-02  1981    2     9  -5.150244 -22.222983  120.235417  1.048797
1981-01-03  1981    3     9  -2.286261 -22.610205  133.149676  1.279053
1981-01-04  1981    4     9  -3.185309 -21.120596  137.138056  1.033322
1981-01-05  1981    5     9  -5.055334 -20.380301  132.202593  0.319152
...          ...  ...   ...        ...        ...         ...       ...
1981-12-27  1981  361     9  -6.708624 -19.277350  130.301204  0.922392
1981-12-28  1981  362     9 -13.711829 -23.861868  123.872685  0.499077
1981-12-29  1981  363     9 -11.172919 -21.877539  127.626157  0.878457
1981-12-30  1981  364     9 -10.044531 -23.082251  128.297176  1.150892
1981-12-31  1981  365     9  -6.602209 -23.203726  124.361019  1.264580

0                  RH     PRECC
datetime
1981-01-01  46.039573  0.000000
1981-01-02  44.171201  0.125116
1981-01-03  37.651807  0.000000
1981-01-04  31.781519  0.000000
1981-01-05  42.035687  0.000043
...               ...       ...
1981-12-27  53.395502  0.662982
1981-12-28  67.025271  0.121152
1981-12-29  62.944636  0.003746
1981-12-30  61.296037  0.000000
1981-12-31  62.407863  0.096590

[365 rows x 9 columns] 842.2414865344763
3 1982 0           Year  Day  Hour        TMX        TMN        RSDS      WSPD  \
datetime
1982-01-01  1982    1     9  -2.106085 -21.343024  134.585324  2.492106
1982-01-02  1982    2     9 -12.229926 -24.357550  126.356204  0.669579
1982-01-03  1982    3     9  -8.995764 -23.951697  134.441713  1.335926
1982-01-04  1982    4     9  -4.402686 -23.104712  136.945556  1.916346
1982-01-05  1982    5     9  -5.202460 -23.182028  133.544722  0.876583
...          ...  ...   ...        ...        ...         ...       ...
1982-12-27  1982  361     9  -8.524939 -28.547568  133.757176  2.780143
1982-12-28  1982  362     9  -4.780615 -27.838141  132.941944  2.791323
1982-12-29  1982  363     9  -6.714728 -23.854590  127.077778  0.910616
1982-12-30  1982  364     9  -8.690100 -22.358847  108.323843  0.631487
1982-12-31  1982  365     9  -9.306006 -25.342352  123.050880  1.558842

0                  RH     PRECC
datetime
1982-01-01  45.895900  0.016075
1982-01-02  64.463562  0.050481
1982-01-03  59.017188  0.000594
1982-01-04  49.733415  0.000043
1982-01-05  63.751311  0.209695
...               ...       ...
1982-12-27  65.574118  0.000000
1982-12-28  63.539397  0.000000
1982-12-29  58.529007  0.014704
1982-12-30  70.730874  0.056691
1982-12-31  73.088225  0.007804

[365 rows x 9 columns] 617.2289280220866
4 1983 0           Year  Day  Hour        TMX        TMN        RSDS      WSPD  \
datetime
1983-01-01  1983    1     9  -7.610419 -28.809882  122.684630  1.413398
1983-01-02  1983    2     9 -12.894293 -28.063467   98.232963  0.059828
1983-01-03  1983    3     9 -11.633307 -27.088416  116.284722  1.188983
1983-01-04  1983    4     9  -9.751776 -29.477377  132.248472  3.046310
1983-01-05  1983    5     9 -10.133215 -27.254797  129.827222  0.993720
...          ...  ...   ...        ...        ...         ...       ...
1983-12-27  1983  361     9 -11.539069 -22.527777   98.365278  0.764960
1983-12-28  1983  362     9 -10.017493 -22.634314  108.157407  1.130236
1983-12-29  1983  363     9  -6.922614 -23.280295  132.404259  1.456097
1983-12-30  1983  364     9  -9.025488 -23.683081  132.290139  0.942942
1983-12-31  1983  365     9  -6.002112 -22.679648  130.748565  1.206880

0                  RH     PRECC
datetime
1983-01-01  70.635341  0.058969
1983-01-02  74.164900  1.326682
1983-01-03  68.569056  0.254606
1983-01-04  56.892290  0.000002
1983-01-05  62.967433  0.216827
...               ...       ...
1983-12-27  57.636948  0.065193
1983-12-28  60.431633  0.159529
1983-12-29  40.988401  0.000020
1983-12-30  43.281247  0.000000
1983-12-31  39.393969  0.000000

[365 rows x 9 columns] 672.2987471148372
5 1984 0           Year  Day  Hour        TMX        TMN        RSDS      WSPD  \
datetime
1984-01-01  1984    1     9  -4.823676 -22.599814  132.138889  0.673588
1984-01-02  1984    2     9  -7.316351 -22.422766  132.434769  1.103308
1984-01-03  1984    3     9  -7.081915 -23.299719  114.086296  1.470893
1984-01-04  1984    4     9  -5.335577 -22.892218  133.065463  0.704954
1984-01-05  1984    5     9  -5.342749 -22.331183  135.647593  0.736357
...          ...  ...   ...        ...        ...         ...       ...
1984-12-27  1984  362     9 -13.638892 -24.701727  109.806898  0.187674
1984-12-28  1984  363     9 -12.856207 -24.484915  126.148380  0.540662
1984-12-29  1984  364     9  -8.804419 -22.977408  130.362407  0.790101
1984-12-30  1984  365     9  -6.590277 -22.044684  128.845463  1.643694
1984-12-31  1984  366     9  -2.835730 -21.116812  125.455648  0.809766

0                  RH     PRECC
datetime
1984-01-01  40.886409  0.000000
1984-01-02  39.159426  0.000628
1984-01-03  44.882711  0.016088
1984-01-04  42.462668  0.000000
1984-01-05  38.157244  0.000000
...               ...       ...
1984-12-27  58.691724  0.020385
1984-12-28  57.540085  0.001125
1984-12-29  43.598958  0.000000
1984-12-30  37.362053  0.000002
1984-12-31  34.511636  0.000045

[366 rows x 9 columns] 644.1112076863647
6 1985 0           Year  Day  Hour        TMX        TMN        RSDS      WSPD  \
datetime
1985-01-01  1985    1     9  -5.753302 -18.396384  118.802917  0.498377
1985-01-02  1985    2     9  -7.514288 -21.927130   84.534259  0.098228
1985-01-03  1985    3     9  -7.518500 -21.240546  130.412917  0.621160
1985-01-04  1985    4     9  -7.756476 -22.639136   93.926528  0.980073
1985-01-05  1985    5     9  -7.184058 -22.370413  129.126620  0.022083
...          ...  ...   ...        ...        ...         ...       ...
1985-12-27  1985  361     9  -5.561774 -21.873358  129.974167  0.376715
1985-12-28  1985  362     9 -11.215674 -17.525519   69.960324  0.214778
1985-12-29  1985  363     9 -11.761145 -27.316046  111.182870  0.814795
1985-12-30  1985  364     9 -13.987799 -28.849036  133.793333  1.078060
1985-12-31  1985  365     9 -11.854468 -30.446005  138.023935  2.183858

0                  RH     PRECC
datetime
1985-01-01  46.848498  0.055101
1985-01-02  62.069922  1.042435
1985-01-03  67.525587  0.003722
1985-01-04  68.301794  0.162061
1985-01-05  61.604923  0.110248
...               ...       ...
1985-12-27  79.214885  0.753093
1985-12-28  81.133526  2.734431
1985-12-29  77.283067  0.420358
1985-12-30  70.940766  0.097062
1985-12-31  58.612709  0.000000

[365 rows x 9 columns] 612.8982631489635
7 1986 0           Year  Day  Hour        TMX        TMN        RSDS      WSPD  \
datetime
1986-01-01  1986    1     9 -10.524939 -30.783057  136.915278  1.169310
1986-01-02  1986    2     9 -13.634558 -27.844153  114.700370  0.910665
1986-01-03  1986    3     9 -10.255072 -28.232916  138.299444  1.540707
1986-01-04  1986    4     9 -10.182288 -26.543723  138.796991  1.253135
1986-01-05  1986    5     9 -13.632086 -23.804968  123.514907  1.081110
...          ...  ...   ...        ...        ...         ...       ...
1986-12-27  1986  361     9  -7.958594 -26.189871  132.986898  3.181196
1986-12-28  1986  362     9  -7.775671 -26.164893  134.441898  3.224931
1986-12-29  1986  363     9  -7.073462 -25.276099  133.693472  2.688710
1986-12-30  1986  364     9  -7.265082 -25.205603  135.918287  1.600059
1986-12-31  1986  365     9  -9.543005 -25.872305  115.218843  1.309079

0                  RH     PRECC
datetime
1986-01-01  66.451248  0.006551
1986-01-02  76.268090  0.077305
1986-01-03  62.311334  0.001242
1986-01-04  62.190749  0.000000
1986-01-05  67.818705  1.344850
...               ...       ...
1986-12-27  63.100486  0.000043
1986-12-28  67.538595  0.000000
1986-12-29  68.174244  0.000000
1986-12-30  63.316433  0.010641
1986-12-31  70.761955  0.085305

[365 rows x 9 columns] 597.1692577004433
8 1987 0           Year  Day  Hour        TMX        TMN        RSDS      WSPD  \
datetime
1987-01-01  1987    1     9 -10.620215 -27.293814  130.612315  1.255917
1987-01-02  1987    2     9  -9.186041 -28.918677  138.679491  2.957361
1987-01-03  1987    3     9 -10.271948 -28.723547  124.445185  2.273042
1987-01-04  1987    4     9  -6.067877 -25.265417  137.597870  2.059267
1987-01-05  1987    5     9  -3.089880 -24.156348  137.776435  2.033255
...          ...  ...   ...        ...        ...         ...       ...
1987-12-27  1987  361     9   4.256158 -16.688757  129.246296  1.191674
1987-12-28  1987  362     9  -2.534979 -20.128149  103.935000  0.570196
1987-12-29  1987  363     9  -5.303900 -21.028571  133.545324  2.343460
1987-12-30  1987  364     9   1.937036 -16.679297  125.424120  2.452586
1987-12-31  1987  365     9  -4.118781 -18.121100  127.313519  0.973044

0                  RH     PRECC
datetime
1987-01-01  75.406387  0.541147
1987-01-02  63.487610  0.000000
1987-01-03  64.764502  0.000002
1987-01-04  61.482489  0.000043
1987-01-05  62.505628  0.022775
...               ...       ...
1987-12-27  37.159212  0.169389
1987-12-28  65.796157  2.352985
1987-12-29  50.333558  0.001600
1987-12-30  49.873191  0.000045
1987-12-31  60.811227  0.000045

[365 rows x 9 columns] 622.7402463555336
9 1988 0           Year  Day  Hour        TMX        TMN        RSDS      WSPD  \
datetime
1988-01-01  1988    1     9   1.515863 -17.316458  131.147176  2.044056
1988-01-02  1988    2     9  -0.316168 -17.325262  111.401713  0.851736
1988-01-03  1988    3     9  -2.561865 -21.598166  133.419398  0.691844
1988-01-04  1988    4     9  -2.236273 -18.958487  126.860324  1.146324
1988-01-05  1988    5     9  -0.501868 -18.126028  135.593241  0.414065
...          ...  ...   ...        ...        ...         ...       ...
1988-12-27  1988  362     9 -10.703436 -20.622931   73.705463  0.341499
1988-12-28  1988  363     9  -8.787573 -25.836432  128.997870  1.685526
1988-12-29  1988  364     9  -9.261633 -26.323492  133.911667  1.731162
1988-12-30  1988  365     9  -5.574652 -25.664420  137.082037  3.360745
1988-12-31  1988  366     9  -9.630103 -24.168570  133.372407  1.230400

0                  RH     PRECC
datetime
1988-01-01  44.595373  0.008676
1988-01-02  64.467632  0.268824
1988-01-03  64.556605  0.007683
1988-01-04  41.589953  0.024367
1988-01-05  55.447631  0.377396
...               ...       ...
1988-12-27  82.397984  2.931139
1988-12-28  68.835043  0.007011
1988-12-29  67.141412  0.000021
1988-12-30  58.765825  0.000000
1988-12-31  67.664301  0.040313

[366 rows x 9 columns] 786.0959926620126
10 1989 0           Year  Day  Hour        TMX        TMN        RSDS      WSPD  \
datetime
1989-01-01  1989    1     9  -3.461249 -23.164786  135.023380  2.618759
1989-01-02  1989    2     9  -3.283698 -22.277304  134.360231  1.188239
1989-01-03  1989    3     9  -6.541449 -24.004614  124.773102  1.298891
1989-01-04  1989    4     9  -4.867072 -24.567145  138.056944  2.199368
1989-01-05  1989    5     9  -3.738867 -22.802786  138.654306  2.674145
...          ...  ...   ...        ...        ...         ...       ...
1989-12-27  1989  361     9 -10.686346 -27.519553  111.601667  0.702387
1989-12-28  1989  362     9 -11.289130 -25.289221  130.067176  1.155626
1989-12-29  1989  363     9  -8.635809 -27.385321  135.242824  1.610503
1989-12-30  1989  364     9  -8.033545 -26.443228  133.322176  0.945428
1989-12-31  1989  365     9  -9.054968 -27.616721  135.253380  0.980703

0                  RH     PRECC
datetime
1989-01-01  62.785596  0.000000
1989-01-02  66.192921  0.000695
1989-01-03  72.296685  0.001865
1989-01-04  63.485143  0.000000
1989-01-05  60.641635  0.000000
...               ...       ...
1989-12-27  72.202770  0.260508
1989-12-28  58.693841  0.027571
1989-12-29  51.495191  0.006586
1989-12-30  65.044853  0.084559
1989-12-31  65.320759  0.005607

[365 rows x 9 columns] 718.2827461510897
11 1990 0           Year  Day  Hour        TMX        TMN        RSDS      WSPD  \
datetime
1990-01-01  1990    1     9  -6.337225 -27.323828  130.584352  1.805253
1990-01-02  1990    2     9  -5.141913 -25.710684  136.001574  2.160472
1990-01-03  1990    3     9  -4.158392 -23.366507  138.264306  1.875074
1990-01-04  1990    4     9  -4.409613 -24.487585  136.093611  1.389412
1990-01-05  1990    5     9  -4.121985 -26.208426  140.740926  1.758175
...          ...  ...   ...        ...        ...         ...       ...
1990-12-27  1990  361     9   0.115442 -23.432547  134.393009  3.881665
1990-12-28  1990  362     9   0.857263 -23.226675  134.220093  3.056324
1990-12-29  1990  363     9  -2.768622 -22.122046  131.944444  0.814634
1990-12-30  1990  364     9 -11.533087 -20.701468   89.623981  0.259345
1990-12-31  1990  365     9 -12.128210 -20.015799   86.672130  0.160199

0                  RH     PRECC
datetime
1990-01-01  57.882672  0.000509
1990-01-02  59.342523  0.001527
1990-01-03  60.261373  0.000043
1990-01-04  52.074227  0.030445
1990-01-05  52.150831  0.000000
...               ...       ...
1990-12-27  45.431172  0.000000
1990-12-28  53.268563  0.000000
1990-12-29  58.316145  0.082156
1990-12-30  73.273185  1.083883
1990-12-31  77.474375  1.615264

[365 rows x 9 columns] 677.681565284729
12 1991 0           Year  Day  Hour        TMX        TMN        RSDS      WSPD  \
datetime
1991-01-01  1991    1     9 -12.010657 -23.023489  108.701204  0.402261
1991-01-02  1991    2     9 -12.113654 -24.346121  120.256667  0.381920
1991-01-03  1991    3     9 -11.070105 -30.513327  124.154676  1.108654
1991-01-04  1991    4     9  -8.827490 -29.048300  136.744861  2.532045
1991-01-05  1991    5     9  -6.959479 -26.639624  141.013704  1.397121
...          ...  ...   ...        ...        ...         ...       ...
1991-12-27  1991  361     9 -17.510519 -35.284155  132.965787  1.631948
1991-12-28  1991  362     9 -15.503119 -33.636221  133.010463  1.329493
1991-12-29  1991  363     9 -12.169012 -28.968924  113.080926  1.050934
1991-12-30  1991  364     9 -14.002386 -26.160468  119.325278  0.506009
1991-12-31  1991  365     9 -12.187384 -26.306464  129.355463  0.840983

0                  RH     PRECC
datetime
1991-01-01  72.227731  0.592241
1991-01-02  72.906269  0.255718
1991-01-03  70.242177  0.057442
1991-01-04  45.621305  0.000961
1991-01-05  50.912994  0.000000
...               ...       ...
1991-12-27  47.941960  0.000000
1991-12-28  52.060730  0.000000
1991-12-29  67.106353  0.006072
1991-12-30  71.005168  0.200860
1991-12-31  67.909568  0.000000

[365 rows x 9 columns] 555.0119830295444
13 1992 0           Year  Day  Hour        TMX        TMN        RSDS      WSPD  \
datetime
1992-01-01  1992    1     9 -10.799841 -26.359869  130.866713  1.535054
1992-01-02  1992    2     9  -7.066199 -26.559241  131.835509  2.511543
1992-01-03  1992    3     9  -9.022284 -25.929190  130.326852  1.531131
1992-01-04  1992    4     9 -10.282904 -23.199393  112.747037  0.668778
1992-01-05  1992    5     9 -10.806677 -23.683768  127.391389  0.755682
...          ...  ...   ...        ...        ...         ...       ...
1992-12-27  1992  362     9  -5.029211 -21.527579  121.718935  1.152042
1992-12-28  1992  363     9  -7.721747 -22.124655  119.660000  1.220298
1992-12-29  1992  364     9  -4.728705 -26.355658  128.643380  2.021516
1992-12-30  1992  365     9  -5.136359 -25.058142  131.452639  1.428434
1992-12-31  1992  366     9  -3.665198 -21.468604  131.947361  2.229291

0                  RH     PRECC
datetime
1992-01-01  58.243213  0.000002
1992-01-02  48.484445  0.000043
1992-01-03  54.105536  0.058366
1992-01-04  64.915527  0.086409
1992-01-05  69.129693  0.013134
...               ...       ...
1992-12-27  76.949939  0.350021
1992-12-28  76.201689  0.104653
1992-12-29  51.012107  0.000002
1992-12-30  61.676571  0.000044
1992-12-31  47.128499  0.000023

[366 rows x 9 columns] 618.0481193587184
14 1993 0           Year  Day  Hour       TMX        TMN        RSDS      WSPD  \
datetime
1993-01-01  1993    1     9 -2.321265 -21.557806  118.139491  1.016600
1993-01-02  1993    2     9 -8.249060 -21.256781  103.826759  0.851692
1993-01-03  1993    3     9 -4.411505 -21.346899  122.627269  1.796218
1993-01-04  1993    4     9 -8.677863 -26.401602  118.725833  0.507244
1993-01-05  1993    5     9 -7.472540 -26.935294  123.813426  1.773519
...          ...  ...   ...       ...        ...         ...       ...
1993-12-27  1993  361     9  1.881860 -19.697913  129.258981  2.103899
1993-12-28  1993  362     9  1.535638 -19.902762  130.100324  1.593804
1993-12-29  1993  363     9 -8.841162 -19.750357  106.471481  0.176903
1993-12-30  1993  364     9 -4.361395 -19.452521  129.241204  0.953955
1993-12-31  1993  365     9 -6.061011 -21.514700  115.955880  1.346860

0                  RH     PRECC
datetime
1993-01-01  68.692765  0.013981
1993-01-02  75.752908  0.069313
1993-01-03  67.323285  0.004388
1993-01-04  79.043412  1.841893
1993-01-05  72.392713  0.185257
...               ...       ...
1993-12-27  36.453172  0.000000
1993-12-28  39.526444  0.000000
1993-12-29  72.822135  0.574293
1993-12-30  53.116356  0.000000
1993-12-31  53.699470  0.035536

[365 rows x 9 columns] 729.4140392914414
15 1994 0           Year  Day  Hour        TMX        TMN        RSDS      WSPD  \
datetime
1994-01-01  1994    1     9  -1.232306 -20.977820  133.048102  0.693763